@import "tailwindcss";

@theme {
  --font-plexmono: var(--font-mono);
  --font-mont: var(--font-montserrat);
}

:root {
    --foreground: #0a0a0a;
    --background: #ffffff;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plexmono);
}
