@import "tailwindcss";

@theme {
  --font-plexmono: var(--font-mono);
  --font-mont: var(--font-montserrat);
  --font-one: var(--font-scopeone);
  --font-inter: var(--font-inter);
  --font-blackOps: var(--font-blackOps)
}

:root {
    --foreground: #0a0a0a;
    --background: #ffffff;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-one);
}
